.card {
  display: flex;
  height: 250px;
  width: 480px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.card-illustration > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.card-illustration {
}

.card-infos {
  width: 280px;
  padding: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.card-illustration > button {
  background-color: #ea171d;
  color: white;
  outline: none;
}
