body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #2f2f33;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 23px;
  line-height: 28px;
  padding-bottom: 10px;
  font-weight: bold;
}

a {
  outline: none;
  text-decoration: inherit;
  color: inherit;
}

.charging {
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
